@font-face {
  font-family: 'Anisette';
  src: url('../fonts/Anisette-Petite.eot');
  src: url('../fonts/fonts/Anisette-Petite.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Anisette-Petite.woff2') format('woff2'),
      url('../fonts/Anisette-Petite.woff') format('woff'),
      url('../fonts/Anisette-Petite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo-Black';
  src: url('../fonts/Heebo-Black.eot');
  src: url('../fonts/Heebo-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Heebo-Black.woff2') format('woff2'),
      url('../fonts/Heebo-Black.woff') format('woff'),
      url('../fonts/Heebo-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo-Light';
  src: url('../fonts/Heebo-Light.eot');
  src: url('../fonts/Heebo-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Heebo-Light.woff2') format('woff2'),
      url('../fonts/Heebo-Light.woff') format('woff'),
      url('../fonts/Heebo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo-Regular';
  src: url('../fonts/Heebo-Regular.eot');
  src: url('../fonts/Heebo-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Heebo-Regular.woff2') format('woff2'),
      url('../fonts/Heebo-Regular.woff') format('woff'),
      url('../fonts/Heebo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo-Medium';
  src: url('../fonts/Heebo-Medium.eot');
  src: url('../fonts/Heebo-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Heebo-Medium.woff2') format('woff2'),
      url('../fonts/Heebo-Medium.woff') format('woff'),
      url('../fonts/Heebo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} 